<% layout('layouts/boilerplate') %>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <% for (let tourground of tourgrounds) { %>
  <div class="col">
    <div class="card h-100">
      <img src=<%= tourground.image %>>
      <div class="card-body">
        <h5 class="card-title"><a href="/tourgrounds/<%= tourground._id %>"><%= tourground.title %></a></h5>
        <p class="card-text"><%= tourground.location %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= tourground.created %></small>
      </div>
    </div>
  </div>
  <% } %>
  </div>
